body {
    margin: 60px auto;
    width: 70%;
    font-family:'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    color: #444;
    font-size: 13px;
}
nav ul, footer ul {
    font-family:'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-family:'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: normal;
    font-size: 2.5em;
    line-height: 1;
    border-bottom: none;    
    padding-bottom: 0px;
    margin-top: 20px;
    margin-block-start: 0.67em;
    margin-block-end: 0.22em;
    color: #444;
}
 h2 {
    font-family:'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: normal;
    font-size: 1.4em;
    line-height: 1;
    border-bottom: none;
    padding-bottom: 0px;
    margin-top: 10px;
    margin-block-start: 0.67em;
    margin-block-end: 0.22em;
     color: #444;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    color: #999;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
